/* FROM_LOGIN */
body{
    background-color: #f8f9fd;
}

.wrap {
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
  background: #f8f9fd;
  border-radius: 5px;
 }
.wrap .img {
    height: 200px; }

.wrap form{
    background-color: #fff;
    max-width: 450px;
    margin: auto;
	margin-top: 80px;
    padding: 50px 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.075);
	
}
.nav-primary.nav-tabs .nav-link.active {
    color: #008cff;
    border-color: #008cff #008cff #fff
}

.wrap .item{
	border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 10px;
}

.wrap .sing-in{
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #01d28e;
    border: none;
    color: white;
    margin-top: 20px;
}

.wrap .back{
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color:#C32527;
    border: none;
    color: white;
    margin-top: 20px;
}

.img {
  margin-top: -45px;
  margin-left: -20px;
  margin-right: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:bottom bottom }


.wrap .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 5070px) {
    .wrap form{
        padding: 50px 20px;
    }

	
	.col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
	 .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
	
	
}
@media screen and (max-width:767px) {
    .user-box .user-info {
        display: none
    }

    .authentication-forgot {
        height: auto;
        padding: 2.5rem 1rem
    }
}
@-webkit-keyframes animdropdown {
    from {
        -webkit-transform: translate3d(0, 6px, 0);
        transform: translate3d(0, 6px, 0);
        opacity: 0
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
@media screen and (max-width:620px) {
    .topbar .navbar .dropdown-menu::after {
        display: none
    }

    .topbar .navbar .dropdown {
        position: static !important
    }

    .topbar .navbar .dropdown-menu {
        width: 100% !important
    }
}

@media screen and (max-width:767px) {
    .user-box .user-info {
        display: none
    }

    .authentication-forgot {
        height: auto;
        padding: 2.5rem 1rem
    }
}
@media (prefers-reduced-motion: reduce) {
    .spinner-border,
    .spinner-grow {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
}

.breadcrumb-title {
    font-size: 20px;
    border-right: 1.5px solid #aaa4a4
}

.page-breadcrumb .breadcrumb li.breadcrumb-item {
    font-size: 16px
}

.page-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    font-family: LineIcons;
    /* content: "\ea5c" */
}
.page-breadcrumb .breadcrumb li.breadcrumb-item {
    font-size: 16px
}
.nav-primary.nav-tabs .nav-link.active {
    color: #008cff;
    border-color: #008cff #008cff #fff
}
.wrapper {
    width: 100%;
    position: relative
}
.page-wrapper {
    height: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 250px
}

.page-content {
    padding: 1.5rem 1.5rem 0.7rem 1.5rem
}
.user-box {
    display: flex;
    align-items: center;
    height: 60px;
    border-left: 1px solid #a9a8a8;
    margin-left: 1rem
}
.user-box .dropdown-menu i {
    vertical-align: middle;
    margin-right: 10px
}
.user-info .user-name {
    font-size: 15px;
    font-weight: 500;
    color: #413c3c
}
.user-info .designattion {
    font-size: 13px;
    color: #a9a8a8
}
.dropdown-toggle-nocaret:after {
    display: none
}
.rounded-circle {
    border-radius: 50% !important;
}
.topbar .topbar-divider {
    width: 0;
    border-right: 20px solid #000000;
    height: calc(4.375rem - 2rem);
    margin: auto 10rem;
}

/*==========================================END LOGIN====================================================*/